<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Swachh Event</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/skel.min.js"></script>
    <script src="../js/skel-layers.min.js"></script>
    <script src="../js/init.js"></script>

    <link rel="stylesheet" href="../css/skel.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/style-xlarge.css" />
    <link rel="stylesheet" href="../css/main/termsAndCond.css">

</head>

<body class="landing">

    <!-- Header -->
    <header id="header">
        <h1><a href="http://swachh.get2thegames.com/index.html">Swachh Event</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="http://www.get2thegames.com">Home</a></li>
                <li><a href="../views/cycling.html">Cycling</a></li>
                <li><a href="../views/marathon.html">Marathon</a></li>
                <li><a href="../views/TermsandConditions.html">Terms</a></li>
                <li><a href="../views/reg-form.html" class="button special">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <!-- Banner -->
    <section id="banner-tandc">
        <h4>Participat's Terms & Conditions For April 3rd Events</h4>

        <!-- One -->
        <!-- Two -->
        <section id="two" class="wrapper style2 special">
            <div class="container">

                <section class="profiles" align="center">
                    <!--						<div class="row"></div>
-->
                    <div class="row">
                        <section width: 10px>
                            <h3>10 KM Cycling</h3></section>
                        <section width: 10px>
                            <h3>5 KM Cycling</h3></section>
                        <section width: 10px>
                            <h3>10 KM Running</h3></section>
                        <section width: 10px>
                            <h3>5 KM Running</h3></section>
                        <section width: 10px>
                            <h3>5 KM Duathlon</h3></section>

                    </div>
                </section>
                <div class="leftmarginTC">
                    <h3 align="left">1. 10KM Cycling</h3>
                 
                        <p align="left">
                            1.1. The event starts at 6:00am at necklace road near people’s plaza.
                            <br> 1.2. An amount of Rs 300 for below 25 years and Rs.400 for above 25 years should be made to participate in this event .
                            <br> 1.3. The participants should report 15mins prior to their given flag off time to collect their cycles.
                            <br> 1.4. Cycles will be issued only after the participant submits an original government ID (driving license, pan card, aadhar card or college id).
                            <br> 1.5. Once the cycle is issued the participant has to assemble near the start arch for their event.
                            <br> 1.6. Refreshments will be at the aid stations arranged on the route.
                            <br> 1.7. The participant has to collect their bibs, T-shirt and wrist band prior to the event day i. e 3rd April, 2016.
                            <br> 1.8. The amount shall not be transferred or refunded in case of cancellations or absence.
                            <br> 1.9. If the participant wish to slide to another event the extra amount has to be paid.
                            <br> 1.10. The maximum time to complete the 10Km cycling is 45 mins failing which the participant will be disqualified.
                            <br> 1.11. The participants are requested to return the cycles as soon as they complete their event and collect their id’s at the counter.
                            <br> 1.12. Participation certificates will be given only to those participants who complete cycling through the given route.
                            <br> 1.13. Any kind of cheating is not tolerated ,if found guilty the participant will be disqualified and will not be given certificate.
                            <br> 1.14. The participants should wear sports shoes, tracks. </p>
                  

                </div>
                <section id="routmaps" class="wrapper style2 special">
                    <div class="container">
                        <header class="major1">
                            <h3><u>10 KM Cycling Route Map</u></h3>
                            <p>Please review the map below carefully.</p>
                        </header>

                    </div>
                    <div class="profiles">
                        <img src="../images/10KMCycling.png" width="700" height="559" alt="10K Race">
                    </div>
                </section>



                <div class="leftmarginTC">
                    <h3 align="left" id="hedertop">2. 5KM Cycling
                              </h3>
                   
                        <p align="left">
                            1.1. The participant has to collect their bibs, T-shirt and wristband prior to the event day i. e 3rd April, 2016. Will let you know the event time at the time of collecting kit at necklace road near people’s plaza.
                            <br> 1.2. The amount of Rs. 200 for below 25 years and Rs.300 for above 25 years should be made to participate in this event.
                            <br> 1.3. The participants should report 15mins prior to their given flag off time to collect their cycles.
                            <br> 1.4. Cycles will be issued only after the participant submits an original government ID (driving license, pan card, aadhar card or college id).
                            <br> 1.5. Once the cycle is issued the participant has to assemble near the start arch for their event.
                            <br> 1.6. Refreshments will be at the aid stations arranged on the route.
                            <br> 1.7. The participant has to collect their bibs, T-shirt and wrist band prior to the event day i. e 3rd April, 2016.
                            <br> 1.8. The amount shall not be transferred or refunded in case of cancellations or absence.
                            <br> 1.9. If the participant wish to slide to another event the extra amount has to be paid.
                            <br> 1.10. The maximum time to complete the 5Km cycling is 30 mins failing which the participant will be disqualified.
                            <br> 1.11. The participants are requested to return the cycles as soon as they complete their event and collect their id’s at the counter.
                            <br> 1.12. Participation certificates will be given only to those participants who complete cycling through the given route.
                            <br> 1.13. Any kind of cheating is not tolerated ,if found guilty the participant will be disqualified and will not be given certificate.
                            <br> 1.14. The participants should wear sports shoes, tracks. </p>
                   

                 </div>
                
                <section id="routmaps" class="wrapper style2 special">
                    <div class="container">
                        <header class="major1">
                            <h3><u>5 KM Cycling Route Map</u></h3>
                            <p>Please review the map below carefully.</p>
                        </header>

                    </div>
                    <div class="profiles">
                        <img src="../images/5KMRunAnd5KMCycling.png" width="700" height="559" alt="10K Race">
                    </div>
                </section>
                 <div class="leftmarginTC">
                    <h3 align="left" id="hedertop">3. 10KM Running
                              </h3>
                   
                        <p align="left">
                            1.1. The participant has to collect their bibs, T-shirt and wristband prior to the event day i. e 3rd April, 2016. Will let you know the event time at the time of collecting kit at necklace road near people’s plaza.
                            <br> 1.2. The amount of Rs150 for below 25 years and Rs.250 for above 25 years should be made to participate in this event.
                            <br> 1.3. The participants should report 15mins prior to their given flag off time.
                            <br> 1.4. The participant has to assemble at the start arch for the run after reporting.
                            <br> 1.5. Refreshments will be at the aid stations arranged on the route .
                            <br> 1.6. The participant has to collect their bibs, T-shirt and wristband prior to the event day i. e 3rd April, 2016.
                            <br> 1.7. The amount shall not be transferred or refunded in case of cancellations or absence.
                            <br> 1.8. If the participants wish to slide to another event the extra amount has to be paid.
                            <br> 1.9. The maximum time to complete the 10Km running is 45mins failing which the participant will be disqualified.
                            <br> 1.10. Participation certificates will be given only to those participants who complete running through the given route.
                            <br> 1.11. Any kind of cheating is not tolerated ,if found guilty the participant will be disqualified and will not be given certificate.
                            <br> 1.12. The participants should wear sports shoes, tracks. </p>
                   
                 </div>
                    
                <section id="routmaps" class="wrapper style2 special">
                    <div class="container">
                        <header class="major1">
                            <h3><u>10 KM Running Route Map</u></h3>
                            <p>Please review the map below carefully.</p>
                        </header>

                    </div>
                    <div class="profiles">
                        <img src="../images/10KMCycling.png" width="700" height="559" alt="10K Race">
                    </div>
                </section>


               <div class="leftmarginTC">
                    <h3 align="left" id="hedertop">4. 5KM Running
                              </h3>
                   
                        <p align="left">
                            1.1. The participant has to collect their bibs, T-shirt and wristband prior to the event day i. e 3rd April, 2016. Will let you know the event time at the time of collecting kit at necklace road near people’s plaza.
                            <br> 1.2. The amount of Rs150 for below 25 years and Rs.250 for above 25 years should be made to participate in this event.
                            <br> 1.3. The participants should report 15mins prior to their given flag off time.
                            <br> 1.4. The participant has to assemble at the start arch for the run after reporting.
                            <br> 1.5. Refreshments will be at the aid stations arranged on the route .
                            <br> 1.6. The amount shall not be transferred or refunded in case of cancellations or absence.
                            <br> 1.7. If the participants wish to slide to another event the extra amount has to be paid.
                            <br> 1.8. The maximum time to complete the 5Km running is 30mins failing which the participant will be disqualified.
                            <br> 1.9. Participation certificates will be given only to those participants who complete running through the given route.
                            <br> 1.10. Any kind of cheating is not tolerated ,if found guilty the participant will be disqualified and will not be given certificate.
                            <br> 1.11. The participants should wear sports shoes, tracks. </p>
                  

                </div>
                <section id="routmaps" class="wrapper style2 special">
                    <div class="container">
                        <header class="major1">
                            <h3><u>5 KM Running Route Map</u></h3>
                            <p>Please review the map below carefully.</p>
                        </header>

                    </div>
                    <div class="profiles">
                        <img src="../images/5KMRun.png" width="700" height="559" alt="10K Race">
                    </div>
                </section>


                <div class="leftmarginTC">
                    <h3 align="left" id="hedertop">5. 5KM Duathlon
                              </h3>
                   
                        <p align="left">
                            1.1. The participant has to collect their bibs, T-shirt and wristband prior to the event day i. e 3rd April, 2016. Will let you know the event time at the time of collecting kit at necklace road near people’s plaza.
                            <br> 1.2. The amount of Rs. 250 for below 25 years and Rs.350 for above 25 years should be made to participate in this event.
                            <br> 1.3. The participant has to report 15 minutes prior to the flag off time.
                            <br> 1.4. The participant has to submit an original government ID (aadhar card, driving license, pan card or college id) failing which the cycle will not be issued.
                            <br> 1.5. In this particular category the participant first cycles through the given route returns the cycle and proceeds for the running.
                            <br> 1.6. Once the cycle is issued the participant has to assemble near the start arch for their event.
                            <br> 1.6. Refreshments will be at the aid stations arranged on the route.
                            <br> 1.7. The amount shall not be transferred or refunded in case of cancellations or absence.
                            <br> 1.8. If the participants wish to slide to another event the extra amount has to be paid.
                            <br> 1.9. The maximum time to complete the 5Km is 1hr failing which the participant will be disqualified.
                            <br> 1.10. The participants are requested to return the cycles as soon as they complete their event and collect their id’s at the counter.
                            <br> 1.11. Participation certificates will be given only to those participants who complete cycling and running through the given route.
                            <br> 1.12. Any kind of cheating is not tolerated, if found guilty the participant will be disqualified and will not be given certificate 1.13. The participants should wear sports shoes, tracks.

                        </p>
                    
                 </div>
                   
                <section id="routmaps" class="wrapper style2 special">
                    <div class="container">
                        <header class="major1">
                            <h3><u>5 KM Duathlon Route Map</u></h3>
                            <p>Please review the map below carefully.</p>
                        </header>

                    </div>
                    <div class="profiles">
                        <img src="../images/5KMRunAnd5KMCycling.png" width="700" height="559" alt="10K Race">
                    </div>
                </section>


                <footer id="footer" style="width:100%">
                    <li>&copy; Get2TheGames. All rights reserved.</li>
                </footer>

</body>

</html>