<!DOCTYPE html>
<html>

<head>
    <title>Corporate Registration</title>

   <!-- Jquery js files-->
    <script src="../libs/jquery.min.js"></script>
    <script type="text/javascript" src="../libs/min/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="../libs/min/jquery-migrate-1.2.1.min.js"></script>
   
    <script src="../libs/firebase.js"></script>
    <link rel="stylesheet" href="../css/Mainpage.css">
    <link rel="stylesheet" href="../css/main/team.css">
    
    <!-- Validation Js-->
    <script src="../libs/min/jquery.validate.min.js"></script>
    <script src="../js/TeamFormValidation.js"></script>
    <script src="../libs/min/additional-methods.min.js"></script>


    <!-- Date picker scripts-->
    <script src="../libs/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="../css/datepicker.css">


    <!-- Accordion styles -->
    <link rel="stylesheet" href="../css/smk-accordion.css" />
    
    <!--Bootstrap js and css-->
     <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../vendors/bootstrap/fonts/glyphicons-halflings-regular.woff">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">

</head>

<body>
    <div class="container-flude">
        <div class="modal-header">
            <div class="row">
                <div class="col-sm-12">
                    <nav class="navbar navbar-default ">
                        <div class="navbar-header  ">
                            <a class="navbar-brand" style="align:center;"><img src="../images/Get2theGames.png" style="height:30px;width=20px;align:center;float:left;" /> </a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
     
        <h2>Team Registration </h2>
    <br/>
   
    
    <div class="container-flude">
         <div class="form-group radioBtn">
                        <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">    
                       <form class="form-horizontal" id="radioform">
                            <h4>Select Distance : </h4>
                            <div class="radio">
                              
                                    <input type="radio" name="distance" id="dist" value="5KM">5 KM<br/>
                                
                                    <input type="radio" name="distance" id="dist" value="12.5KM">12.5 KM<br/>
                        
                                    <input type="radio" name="distance" id="dist" value="25KM">25 KM
                                <br/>
                               
                            </div>
                             <label name="radioDist" for="distance" class="error" style="display:none;">Please Select Distance</label>
                       </form>
                           </div>
                    </div>  
                </div>
    </div>
     <div class="container_demo">
   
        
      

        <!-- Accordion begin -->
        <div class="accordion_example9">

            <!-- Section 1 -->
            <div class="accordion_in">
                <div class="acc_head">Participant 1</div>
                <div class="acc_content nodemohtml">

                    <!-- Child Accordion 1 begin -->
                    <form class="form-horizontal" action="" method="post" id="form1">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <!-- <label for="Captain">Captain</label>-->
                                <div class="radio">
                                    <label></label>
                                    <input type="radio" value="captain" id="captain" name="captain" checked>Captain
                                </div>
                            </div>


                            <div class="form-group">
                                <!--<label for="Fname">First Name:</label>-->
                                <input type="text" class="form-control" name="Fname" placeholder="First Name" required>
                                <span></span>
                            </div>

                            <div class="form-group ">
                                <input type="text" class="form-control" id="Lname" name="Lname" placeholder="Last Name">

                            </div>
                            <div class="form-group">
                                <div id="datepicker1" class="input-group date" data-date-format="dd-mm-yyyy">
                                    <input class="form-control" name="dob" id="dob" type="text" placeholder="Select Date Of Birth" readonly />
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                                <label for="dob" class="error" generated="true"></label>

                            </div>
                            <div class="form-group">

                                <input type="text" class="form-control" name="email" placeholder="Email Id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">

                            </div>

                            <div class="form-group">

                                <input type="text" class="form-control" id="contactNo" name="contactNo" placeholder="Contact Number">

                            </div>
                            <div class="form-group">

                                <select class="form-control" name="shirt" name="shirt">
                                    <option value="" selected="selected">Select T-Shirt Size</option>
                                    <option>XS</option>
                                    <option>S</option>
                                    <option>M</option>
                                    <option>L</option>
                                    <option>XL</option>
                                    <option>XXL</option>
                                </select>
                            </div>

                            <div class="form-group">

                                <select class="form-control" name="blood">
                                    <option value="" selected="selected">Select Blood Group</option>
                                    <option>A+</option>
                                    <option>A-</option>
                                    <option>B+</option>
                                    <option>B-</option>
                                    <option>AB+</option>
                                    <option>AB-</option>
                                    <option>O+</option>
                                    <option>O-</option>


                                </select>

                            </div>

                        </div>

                    </form>

                </div>
            </div>
            <!-- Section 2 -->
            <div class="accordion_in">
                <div class="acc_head">Participant 2</div>
                <div class="acc_content nodemohtml">

                    <!-- Child Accordion 1 begin -->
                    <form class="form-horizontal" action="" method="post" id="form2">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="radio">
                                    &nbsp;
                                    <input type="radio" value="participant" id="captain" name="captain" checked>Participant


                                </div>

                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="Fname" name="Fname" placeholder="First Name" required>

                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="Lname" name="Lname" placeholder="Last Name" required>

                            </div>
                            <div class="form-group">
                                <div id="datepicker2" class="input-group date" data-date-format="dd-mm-yyyy">
                                    <input class="form-control" name="dob" id="dob" type="text" placeholder="Select Date Of Birth" readonly />
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                                <label for="dob" class="error" generated="true"></label>

                            </div>
                            <div class="form-group">

                                <input type="text" class="form-control" name="email" placeholder="Email Id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>

                            </div>

                            <div class="form-group">

                                <input type="text" class="form-control" id="contactNo" name="contactNo" placeholder="Contact Number" required>

                            </div>
                            <div class="form-group">

                                <select class="form-control" name="shirt" name="shirt">
                                    <option value="" selected="selected">Select T-Shirt Size</option>
                                    <option>XS</option>
                                    <option>S</option>
                                    <option>M</option>
                                    <option>L</option>
                                    <option>XL</option>
                                    <option>XXL</option>
                                </select>

                            </div>

                            <div class="form-group">

                                <select class="form-control" name="blood">
                                    <option value="" selected="selected">Select Blood Group</option>
                                    <option>A+</option>
                                    <option>A-</option>
                                    <option>B+</option>
                                    <option>B-</option>
                                    <option>AB+</option>
                                    <option>AB-</option>
                                    <option>O+</option>
                                    <option>O-</option>


                                </select>

                            </div>


                        </div>

                    </form>
                </div>
            </div>
            <!-- Section 3 -->
            <div class="accordion_in">
                <div class="acc_head">Participant 3</div>
                <div class="acc_content nodemohtml">

                    <!-- Child Accordion 1 begin -->
                    <form class="form-horizontal" action="" method="post" id="form3">
                        <div class="col-sm-6">
                            <div class="form-group">

                                <div class="radio">
                                    &nbsp;
                                    <input type="radio" value="participant" id="captain" name="captain" checked>Participant
                                </div>
                            </div>

                            <div class="form-group">

                                <input type="text" class="form-control" name="Fname" placeholder="First Name">

                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="Lname" name="Lname" placeholder="Last Name">

                            </div>
                            <div class="form-group">

                                <div id="datepicker3" class="input-group date" data-date-format="dd-mm-yyyy">
                                    <input class="form-control" name="dob" id="dob" type="text" placeholder="Select Date Of Birth" readonly />
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                                <label for="dob" class="error" generated="true"></label>
                            </div>
                            <div class="form-group">

                                <input type="text" class="form-control" name="email" placeholder="Email Id">

                            </div>

                            <div class="form-group">

                                <input type="text" class="form-control" id="contactNo" name="contactNo" placeholder="Contact Number">

                            </div>
                            <div class="form-group">

                                <select class="form-control" name="shirt" name="shirt">
                                    <option value="" selected="selected">Select T-Shirt Size</option>
                                    <option>XS</option>
                                    <option>S</option>
                                    <option>M</option>
                                    <option>L</option>
                                    <option>XL</option>
                                    <option>XXL</option>
                                </select>

                            </div>

                            <div class="form-group">

                                <select class="form-control" name="blood">
                                    <option value="" selected="selected">Select Blood Group</option>
                                    <option>A+</option>
                                    <option>A-</option>
                                    <option>B+</option>
                                    <option>B-</option>
                                    <option>AB+</option>
                                    <option>AB-</option>
                                    <option>O+</option>
                                    <option>O-</option>


                                </select>

                            </div>


                        </div>

                    </form>
                </div>
            </div>


        </div>

    </div>
    </div>

    </div>
    <!-- Accordion end -->

    <div class="form-group">
        
                <input id="btn" class="btn btn-primary" type="button" value="Next" />
        <br/>
        <label  id="memberLabel"  style="display:none; color:red">(Please enter details for minimum two members to complete the registration)</label>
                <!--<button type="button" id="NextBtn" class="btn btn-primary" onclick="SavePlayer();" disabled>Next</button>-->
           
    </div>
    <br>

    </div>


    <script type="text/javascript" src="../js/smk-accordion.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".accordion_example9").smk_Accordion();

        });
    </script>
</body>

</html>