<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Decathlon Admin</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">Individual <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/viewOther">View Other Participants</a></li>
                        <li><a href="#/addOther">Add Other Participants</a></li>
                        <li><a href="#/editOther">Update Other(Reedemed) Participants</a></li>

                    </ul>
                </li>
                 <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">GHAC People <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/viewGHAC">View GHAC Participants</a></li>
                        <li><a href="#/addGHAC">Add GHAC Participants</a></li>
                        <li><a href="#/editGHAC">Update GHAC(Reedemed) Participants</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">View Log <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/viewEmaillog">View Email Log</a></li>
                        <li><a href="#/viewCustomer">View Billing Person Log</a></li>
                        <li><a href="#/viewCustomerTransaction">View Customer Transaction Log</a></li>
                       <li><a href="#/tracking">Track Registration Details</a></li> 
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-user"></i>Welcome</a></li>
                <li><a href="#/logout"><i class="fa fa-sign-out"></i> Log Out</a></li>
            </ul>

        </div>
    </div>
</nav>
<div onload="myreg()">
    <h1>Add Individual (For Below 25 Years)</h1>
    <form id="form1">
    <table class="table">
        <th>Participants</th>
        <tr>
                    <th>Distance</th>
                    <th>Price</th>
                    <th>First Name</th> 
                    <th>Last Name</th>
                    <th>Date Of Birth</th>
                    <th>Email Id</th>
                    <th>Contact Number</th>
                    <th>Address</th>
                    <th>Blood Group</th>
                    <th>T-Shirt-Size</th>
                    <th></th>
                    <th>Add Individual</th>
        </tr>
        <tr>
            <td colspan="9">
                <label style="color:red">Participant</label>
            </td>
        </tr>
        <tr class="active" data-ng-repeat="data in choices">

            <td>
                <select name="Distance" ng-model="indData.Participant.distance" placeholder="Select Your Distance">
                <option value="5KM Cycling">5KM Cycling</option>
                <option value="10KM Cycling">10KM Cycling</option>
                <option value="5KM Running">5KM Running</option>   
                <option value="10KM Running">10KM Running</option>   
                <option value="5KM Duathlon">5KM Duathlon</option>       
                 </select>
            </td>
            <td>
                <select name="Distance" ng-model="indData.Participant.price" placeholder="Price">
                <option value="200">200RS</option>
                <option value="300">300RS</option>
                <option value="150">150RS</option>   
                <option value="150">150RS</option>   
                <option value="250">250RS</option>       
                 </select>
            </td>
            <td>
                <input type="text" placeholder="Enter Your First Name" ng-model="indData.Participant.FName">
            </td>
            <td>
                <input type="text" placeholder="Enter Your Last Name" ng-model="indData.Participant.LName">
            </td>
            <td>
                <input type="text" placeholder="DD/MM/YYYY" ng-model="indData.Participant.Date_of_birth">
            </td>
            <td>
                <input type="text" placeholder="Enter Your Email_Id" ng-model="indData.Participant.Email_id" >
            </td>
            <td>
                <input type="text" placeholder="Enter Your Contact Number" ng-model="indData.Participant.Contact_no">
            </td>
            <td>
                <input type="text" placeholder="Enter Your Address" ng-model="indData.Participant.Address">
            </td>
            <td>
                <select name="T_shirt_size" placeholder="Select Ypur T_shirt_size" ng-model="indData.Participant.T_shirt_size">
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>  
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>       
                 </select>
            </td>
            <td>
                <select name="Blood_group" placeholder="Select Your Blood Group" ng-model="indData.Participant.Bloodgroup">
                <option value="A+ve">A+ve</option>
                <option value="A-ve">A-ve</option>
                <option value="B+ve">B+ve</option>  
                <option value="B-ve">B-ve</option>
                <option value="AB+ve">AB+ve</option>
                <option value="AB-ve">AB-ve</option>
                <option value="O+ve">O+ve</option>
                <option value="O-ve">O-ve</option>
                 </select>

            </td>
            <td>
                <input type="hidden" ng-model="indData.Participant.Servertime" ng-init="indData.Participant.dateTime =dateTime;">
            </td>
            <td>
                <input type="hidden" ng-model="indData.Participant.regid" ng-init="indData.Participant.Registration_Id = Registration_Id;">
                <button class="btn btn-primary" ng-click="individual.$add(indData)">Click_to_Add</button>
            </td>
            <td>
                <button class="remove btn btn-primary" ng-show="$last" ng-click="removeChoice()">Cancel</button>
            </td>
        </tr>
    </table>
        </form>
    
    <button class="addfields btn btn-primary" ng-click="addNewChoice()">Add fields</button>
</div>


<div onload="myreg()">
    <h1>Add Individual (For Above 25 Years)</h1>
    <form id="form1">
    <table class="table">
        <th>Participants</th>
        <tr>
                    <th>Distance</th>
                    <th>Price</th>
                    <th>First Name</th> 
                    <th>Last Name</th>
                    <th>Date Of Birth</th>
                    <th>Email Id</th>
                    <th>Contact Number</th>
                    <th>Address</th>
                    <th>Blood Group</th>
                    <th>T-Shirt-Size</th>
                    <th></th>
                    <th>Add Individual</th>
        </tr>
        <tr>
            <td colspan="9">
                <label style="color:red">Participant</label>
            </td>
        </tr>
        <tr class="active" data-ng-repeat="data in choices">

            <td>
                <select name="Distance" ng-model="indData.Participant.distance" placeholder="Select Your Distance">
                <option value="5KM Cycling">5KM Cycling</option>
                <option value="10KM Cycling">10KM Cycling</option>
                <option value="5KM Running">5KM Running</option>   
                <option value="10KM Running">10KM Running</option>   
                <option value="5KM Duathlon">5KM Duathlon</option>       
                 </select>
            </td>
            <td>
                <select name="Distance" ng-model="indData.Participant.price" placeholder="Price">
                <option value="300">300RS</option>
                <option value="400">400RS</option>
                <option value="250">250RS</option>   
                <option value="250">250RS</option>   
                <option value="350">350RS</option>       
                 </select>
            </td>
            <td>
                <input type="text" placeholder="Enter Your First Name" ng-model="indData.Participant.FName">
            </td>
            <td>
                <input type="text" placeholder="Enter Your Last Name" ng-model="indData.Participant.LName">
            </td>
            <td>
                <input type="text" placeholder="DD/MM/YYYY" ng-model="indData.Participant.Date_of_birth">
            </td>
            <td>
                <input type="text" placeholder="Enter Your Email_Id" ng-model="indData.Participant.Email_id" >
            </td>
            <td>
                <input type="text" placeholder="Enter Your Contact Number" ng-model="indData.Participant.Contact_no">
            </td>
            <td>
                <input type="text" placeholder="Enter Your Address" ng-model="indData.Participant.Address">
            </td>
            <td>
                <select name="T_shirt_size" placeholder="Select Ypur T_shirt_size" ng-model="indData.Participant.T_shirt_size">
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>  
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>       
                 </select>
            </td>
            <td>
                <select name="Blood_group" placeholder="Select Your Blood Group" ng-model="indData.Participant.Bloodgroup">
                <option value="A+ve">A+ve</option>
                <option value="A-ve">A-ve</option>
                <option value="B+ve">B+ve</option>  
                <option value="B-ve">B-ve</option>
                <option value="AB+ve">AB+ve</option>
                <option value="AB-ve">AB-ve</option>
                <option value="O+ve">O+ve</option>
                <option value="O-ve">O-ve</option>
                 </select>

            </td>
            <td>
                <input type="hidden" ng-model="indData.Participant.Servertime" ng-init="indData.Participant.dateTime =dateTime;">
            </td>
            <td>
                <input type="hidden" ng-model="indData.Participant.regid" ng-init="indData.Participant.Registration_Id = Registration_Id;">
                <button class="btn btn-primary" ng-click="individual.$add(indData)">Click_to_Add</button>
            </td>
            <td>
                <button class="remove btn btn-primary" ng-show="$last" ng-click="removeChoice()">Cancel</button>
            </td>
        </tr>
    </table>
        </form>
    
    <button class="addfields btn btn-primary" ng-click="addNewChoice()">Add fields</button>
</div>