<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header"> 
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Decathlon Admin</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">Individual <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/viewOther">View Other Participants</a></li>
                        <li><a href="#/addOther">Add Other Participants</a></li>
                        <li><a href="#/editOther">Update Other(Reedemed) Participants</a></li>

                    </ul>
                </li>
           <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">GHAC People <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/viewGHAC">View GHAC Participants</a></li>
                        <li><a href="#/addGHAC">Add GHAC Participants</a></li>
                        <li><a href="#/editGHAC">Update GHAC(Reedemed) Participants</a></li>

                    </ul>
                </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">View Log <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/viewEmaillog">View Email Log</a></li>
             <li><a href="#/viewCustomer">View Billing Person Log</a></li>    
            <li><a href="#/viewCustomerTransaction">View Customer Transaction Log</a></li> 
              <li><a href="#/tracking">Track Registration Details</a></li> 
        </ul>
        </li>
                  
      </ul>
         <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-user"></i>Welcome</a></li>
        <li><a href="#/logout"><i class="fa fa-sign-out"></i> Log Out</a></li>
      </ul>

    </div>
  </div>
</nav>

<div id="dvData">
    <h1>View Individual</h1>
     <div class="row">
    <div class="col-sm-6">
    <div class="form-group">
    <label>Search For Details:<input type="text" ng-model="searchText" placeholder="Search"></label>
    </div>    
    </div>
    </div>
    <div class='button' align="right">
                <a href="#" id ="export" role='button'>Generate CSV File
                </a>
            </div>
<table class = "table">
            <th>Participants</th>
            <tr>
                    <th>Registration Id</th>
                    <th>Distance</th>
                    <th>First Name</th> 
                    <th>Last Name</th>
                    <th>Date Of Birth</th>
                    <th>Email Id</th>
                    <th>Contact Number</th>
                    <th>T-Shirt-Size</th>
                    <th>Blood Group</th>
                    <th>Address</th>
                    <th>Price</th>
                    <th>Reedemed (Y/N)</th>
                    <th>DateTime</th>   
            </tr>
             <tr><td colspan="9"><label style="color:red">Participant</label></td></tr>
                   <tr class = "active" ng-if="indData.Participant.gha_club=='No'" ng-repeat="indData in individual |  filter:searchText">
                   <td>{{indData.Participant.Registration_Id}}</td>
                   <td>{{indData.Participant.distance}}</td>   
                   <td>{{indData.Participant.FName}}</td>
                   <td>{{indData.Participant.LName}}</td>
                   <td>{{indData.Participant.Date_of_birth}}</td>
                   <td>{{indData.Participant.Email_id}}</td>
                   <td>{{indData.Participant.Contact_no}}</td>
                   <td>{{indData.Participant.T_shirt_size}}</td>
                   <td>{{indData.Participant.Bloodgroup}}</td>
                   <td>{{indData.Participant.Address}}</td> 
                   <td>{{indData.Participant.price}}</td>    
                   <td>{{indData.Participant.Reedemed}}</td> 
                   <td>{{indData.Participant.dateTime |  date:'dd-MM-yyyy H:mm:ss'}}</td>    
            </tr>
   </table>   
</div> 


<script type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
        
        <script type='text/javascript'>
        $(document).ready(function () {

            function exportTableToCSV($table, filename) {
                var $headers = $table.find('tr:has(th)')
                    ,$rows = $table.find('tr:has(td)')

                    
                    ,tmpColDelim = String.fromCharCode(11) 
                    ,tmpRowDelim = String.fromCharCode(0) 

                   
                    ,colDelim = '","'
                    ,rowDelim = '"\r\n"';

                  
                    var csv = '"';
                    csv += formatRows($headers.map(grabRow));
                    csv += rowDelim;
                    csv += formatRows($rows.map(grabRow)) + '"';

                   
                    var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

               
                if (window.navigator.msSaveOrOpenBlob) {
                    var blob = new Blob([decodeURIComponent(encodeURI(csv))], {
                        type: "text/csv;charset=utf-8;"
                    });
                    navigator.msSaveBlob(blob, filename);
                } else {
                    $(this)
                        .attr({
                            'download': filename
                            ,'href': csvData
                            //,'target' : '_blank' 
                    });
                }

               
                function formatRows(rows){
                    return rows.get().join(tmpRowDelim)
                        .split(tmpRowDelim).join(rowDelim)
                        .split(tmpColDelim).join(colDelim);
                }
                
                function grabRow(i,row){
                     
                    var $row = $(row);
                   
                    var $cols = $row.find('td'); 
                    if(!$cols.length) $cols = $row.find('th');  

                    return $cols.map(grabCol)
                                .get().join(tmpColDelim);
                }
                
                function grabCol(j,col){
                    var $col = $(col),
                        $text = $col.text();

                    return $text.replace('"', '""'); 

                }
            }


           
            $("#export").click(function (event) {
                
               var outputFile = window.prompt("What do you want to name your output file (Note: This won't have any effect on Safari)") || 'export';
                outputFile = outputFile.replace('.csv','') + '.csv'
                
                exportTableToCSV.apply(this, [$('#dvData > table'), outputFile]);
                
                
            });
        });
    </script>