<div style=" background-color:PaleVioletRed   ">
<div class="row">
<div class="row">
    <h3 align="Center"><strong>Login Here</strong></h3>  
    </div>
    </div>
 <div class="col-sm-6" >
     <br/>
   
      <div class="form-group">
        <label id="errorl" style="color:red">{{msgerr}}</label>
      </div>
      <div class="form-group">
        <label for="email">Enter Your Email address:</label>
        <input type="email" class="form-control" id="email" ng-model="email" placeholder="Enter email" />
      </div>
      <div class="form-group">
        <label for="password">Enter Your Password:</label>
        <input type="password" class="form-control" id="pwd"  ng-model="pwd" placeholder="Password" />
      </div>
     <div class="text-center" >
      <button type="button" class="btn btn-primary btn-lg pull-center" ng-click="validateLogin()">Submit</button>
  </div>

</div>
</div>
</div>