<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header"> 
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Decathlon Admin</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">Individual <span class="caret"></span></a>
          <ul class="dropdown-menu">
                <li><a href="#/viewIndividual">View Individual Participants</a></li>
            <li><a href="#/addIndividual">Add Individual Participants</a></li>
            <li><a href="#/editIndividual">Update Individual(Reedemed) Participants</a></li>
            
          </ul>
        </li>
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">Team<span class="caret"></span></a>
          <ul class="dropdown-menu">
               <li><a href="#/viewTeam">View Team Participants</a></li>
            <li><a href="#/addTeam">Add Team Participants</a></li>
            <li><a href="#/editTeam">Update Team(Reedemed) Participants</a></li>
           
          </ul>
        </li>
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">Corporate <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/viewCorporate">View Corporate Participants</a></li>
            <li><a href="#/addCorporate">Add Corporate Participants</a></li>
            <li><a href="#/editCorporate">Update Team(Reedemed) Participants</a></li>
            
          </ul>
        </li>
           <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">View Log <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/viewEmaillog">View Email Log</a></li>
             <li><a href="#/viewCustomer">View Billing Person Log</a></li>    
            <li><a href="#/viewCustomerTransaction">View Customer Transaction Log</a></li> 
              <li><a href="#/tracking">Track Registration Details</a></li> 
        </ul>
        </li>
                  
      </ul>
  <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-user"></i>Welcome</a></li>
        <li><a href="#/logout"><i class="fa fa-sign-out"></i> Log Out</a></li>
      </ul>
        
    </div>
  </div>
</nav>

<div>
    <h1>Update Team</h1>
    <div class="row">
    <div class="col-sm-6">
    <div class="form-group">
    <label>Search For Details:<input type="text" ng-model="searchText" placeholder="Search"></label>
    </div>    
    </div>
    </div>
<table class = "table" ng-repeat="teamData in team | filter:searchText">
        
    <tr><td  align="center"><span style="font-weight:bold">Participants (Registration Id) : <td>{{teamData.Participant.Registration_Id}}</td></span></td></tr>
    <tr>
        <td  align="center"><span style="font-weight:bold">Participants (Reedemed (Y/N) :<td><input type="" ng-model="teamData.Participant.Reedemed" ></span></td> </td>  
                   <td><button  class="btn btn-primary" ng-click="team.$save(teamData)">CLICK_TO_ADD</button></td></tr>
            <tr>
                    <th>Blood Group</th>
                    <th>Contact Number</th>
                    <th>Date Of Birth</th>
                    <th>Distance</th>
                    <th>Email Id</th>
                    <th>First Name</th> 
                    <th>Last Name</th>
                    <th>Role</th>
                    <th>T-Shirt-Size</th>  
                    <th>Edit Team</th>  
                
       <tr >
           <tr><td colspan="9"><label style="color:red">Participant1</label></td></tr>
          <td> <input type="text" ng-model="teamData.Participant.Participant1.Blood_group"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant1.Contact_no"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant1.Date_of_birth"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant1.Distance"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant1.Email_id"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant1.FName"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant1.LName"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant1.Role"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant1.T_shirt_size"></td>
                       <td><button class="btn btn-primary" ng-click="team.$save(teamData)">Click_to_Edit</button></td>

        </tr>
         <tr >
             <tr><td colspan="9"><label style="color:red">Participant2</label></td></tr>
            <td> <input type="text" ng-model="teamData.Participant.Participant2.Blood_group"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant2.Contact_no"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant2.Date_of_birth"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant2.Distance"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant2.Email_id"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant2.FName"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant2.LName"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant2.Role"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant2.T_shirt_size"></td>
                      <td><button class="btn btn-primary" ng-click="team.$save(teamData)">Click_to_Edit</button></td>
        </tr>
         <tr >
             <tr><td colspan="9"><label style="color:red">Participant3</label></td></tr>
           <td> <input type="text" ng-model="teamData.Participant.Participant3.Blood_group"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant3.Contact_no"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant3.Date_of_birth"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant3.Distance"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant3.Email_id"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant3.FName"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant3.LName"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant3.Role"></td>
           <td> <input type="text" ng-model="teamData.Participant.Participant3.T_shirt_size"></td>
                       <td><button class="btn btn-primary" ng-click="team.$save(teamData)">Click_to_Edit</button></td>
        </tr>        
   </table>   
</div>      
